<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="abibet.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <abibet.My.MySettings>
            <setting name="XMLserver" serializeAs="String">
                <value>http://s-commu.jp/abi/bookm.php</value>
            </setting>
            <setting name="XML_log_url" serializeAs="String">
                <value>http://s-commu.jp/abi/bookm.php</value>
            </setting>
            <setting name="Book_id_1" serializeAs="String">
                <value>acc</value>
            </setting>
            <setting name="Book_pass_1" serializeAs="String">
                <value>pass</value>
            </setting>
            <setting name="Book_id_2" serializeAs="String">
                <value>acc</value>
            </setting>
            <setting name="Book_pass_2" serializeAs="String">
                <value>pass</value>
            </setting>
            <setting name="Book_id_3" serializeAs="String">
                <value>acc</value>
            </setting>
            <setting name="Book_id_4" serializeAs="String">
                <value>acc</value>
            </setting>
            <setting name="Book_id_5" serializeAs="String">
                <value>acc</value>
            </setting>
            <setting name="Book_id_6" serializeAs="String">
                <value>acc</value>
            </setting>
            <setting name="Book_id_7" serializeAs="String">
                <value>acc</value>
            </setting>
            <setting name="Book_id_8" serializeAs="String">
                <value>acc</value>
            </setting>
            <setting name="Book_id_9" serializeAs="String">
                <value>acc</value>
            </setting>
            <setting name="Book_id_10" serializeAs="String">
                <value>acc</value>
            </setting>
            <setting name="Book_pass_3" serializeAs="String">
                <value>pass</value>
            </setting>
            <setting name="Book_pass_4" serializeAs="String">
                <value>pass</value>
            </setting>
            <setting name="Book_pass_5" serializeAs="String">
                <value>pass</value>
            </setting>
            <setting name="Book_pass_6" serializeAs="String">
                <value>pass</value>
            </setting>
            <setting name="Book_pass_7" serializeAs="String">
                <value>pass</value>
            </setting>
            <setting name="Book_pass_8" serializeAs="String">
                <value>pass</value>
            </setting>
            <setting name="Book_pass_9" serializeAs="String">
                <value>pass</value>
            </setting>
            <setting name="Book_pass_10" serializeAs="String">
                <value>pass</value>
            </setting>
            <setting name="Book_url_1" serializeAs="String">
                <value>5dimes</value>
            </setting>
            <setting name="Book_url_2" serializeAs="String">
                <value>betclic</value>
            </setting>
            <setting name="Book_url_3" serializeAs="String">
                <value>williamhill</value>
            </setting>
            <setting name="Book_url_4" serializeAs="String">
                <value>marathonbet</value>
            </setting>
            <setting name="Book_url_5" serializeAs="String">
                <value>bwin</value>
            </setting>
            <setting name="Book_url_6" serializeAs="String">
                <value>188bet</value>
            </setting>
            <setting name="Book_url_7" serializeAs="String">
                <value>sbobet</value>
            </setting>
            <setting name="Book_url_8" serializeAs="String">
                <value>12bet</value>
            </setting>
            <setting name="Book_url_9" serializeAs="String">
                <value>unibet</value>
            </setting>
            <setting name="Book_url_10" serializeAs="String">
                <value>ladbrokes</value>
            </setting>
            <setting name="Book_id_11" serializeAs="String">
                <value>acc</value>
            </setting>
            <setting name="Book_pass_11" serializeAs="String">
                <value>pass</value>
            </setting>
            <setting name="Book_url_11" serializeAs="String">
                <value>http://www.ladbrokes.com/en/home6/</value>
            </setting>
            <setting name="user_id" serializeAs="String">
                <value>000001</value>
            </setting>
            <setting name="max_bet" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="abi_url" serializeAs="String">
                <value>http://backyjob.xsrv.jp/abi/abi-betdata.php</value>
            </setting>
        </abibet.My.MySettings>
    </userSettings>
</configuration>